body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1080px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:1080px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:523px;
  width:30px;
  height:30px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_ann {
  border-width:0px;
  position:absolute;
  left:663px;
  top:519px;
  width:1px;
  height:1px;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:523px;
  width:30px;
  height:30px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_ann {
  border-width:0px;
  position:absolute;
  left:521px;
  top:519px;
  width:1px;
  height:1px;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:514px;
  width:30px;
  height:30px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_ann {
  border-width:0px;
  position:absolute;
  left:939px;
  top:510px;
  width:1px;
  height:1px;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:514px;
  width:30px;
  height:30px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_ann {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:510px;
  width:1px;
  height:1px;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:633px;
  width:30px;
  height:30px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_ann {
  border-width:0px;
  position:absolute;
  left:328px;
  top:629px;
  width:1px;
  height:1px;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:596px;
  width:30px;
  height:30px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_ann {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:592px;
  width:1px;
  height:1px;
}
