body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1080px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:1080px;
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:50px;
  height:51px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:315px;
  width:40px;
  height:41px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_ann {
  border-width:0px;
  position:absolute;
  left:419px;
  top:311px;
  width:1px;
  height:1px;
}
