body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1200px;
  height:194px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:143px;
  height:30px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:30px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:408px;
  height:30px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:404px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:30px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:0px;
  width:433px;
  height:30px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:429px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:74px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:74px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:74px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:30px;
  width:107px;
  height:74px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:74px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:30px;
  width:143px;
  height:74px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:74px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:30px;
  width:408px;
  height:74px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:74px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:30px;
  width:433px;
  height:74px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:109px;
  height:90px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:90px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:104px;
  width:107px;
  height:90px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:90px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:104px;
  width:143px;
  height:90px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:90px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:104px;
  width:408px;
  height:90px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:90px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:104px;
  width:433px;
  height:90px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
