body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1280px;
  height:800px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:131px;
  width:30px;
  height:40px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_ann {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:127px;
  width:1px;
  height:1px;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:585px;
  width:30px;
  height:40px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_ann {
  border-width:0px;
  position:absolute;
  left:210px;
  top:581px;
  width:1px;
  height:1px;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:777px;
  width:30px;
  height:40px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_ann {
  border-width:0px;
  position:absolute;
  left:170px;
  top:773px;
  width:1px;
  height:1px;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:777px;
  width:30px;
  height:40px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_ann {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:773px;
  width:1px;
  height:1px;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:585px;
  width:30px;
  height:40px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_ann {
  border-width:0px;
  position:absolute;
  left:720px;
  top:581px;
  width:1px;
  height:1px;
}
